.project-heading{
  font-family: 'Londrina Solid', cursive;
  font-size: 60px;
}
.project-link{
  color: black;
}

.project-link:hover{
  color:black;
}

.project-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-container{
 width: 200px;
 padding: 10px;
}

.project-description{
  text-align: left;
}

.project-descripton-image{
  height: 400px;
  padding: 10px;

}

 .project-main-div{
  display: flex;
} 

.project-descripton-images-container{
  justify-content: left;
  display: flex;
  /* margin-left: 50px; */

}

.project-image {
  width: 180px;
  border-radius: 50%;
  padding-top: 10px;
 
}

.project-description-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  }

.project-description{
  margin-left: 100px;
}

.project-description-title {
  font-family: 'Londrina Solid', cursive;
  font-size: 30px;
}

.back-to-projects-button-div{
  padding: 40px;
}
.button1 {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.50em;
  box-sizing: border-box;
  text-decoration:none;
  color: black;
  font-family:'Londrina Solid', cursive;
  font-weight:300;
  text-align:center;
  transition: all 0.2s;
  box-shadow: 10px 10px 5px -6px rgba(101, 100, 100, 0.75);
}

.button1:hover{
  color:#000000;
  background-color:magenta;
}



@media only screen and (max-width: 600px) { 

  .project-main-div{
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .project-heading{
    font-size: 30px;
  }

  .project-description{
    margin-left: 0px;
    justify-content: center;
    text-align: center;
  }
  
  .project-description-image-container{
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
  }

  .project-descripton-image{
    height: 200px;
    padding: 5px;
  }

  .project-description-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 0;
    padding-left: 0;
    }

}