@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Solid:wght@300&display=swap");
/* font-family: 'Londrina Outline', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Londrina Solid', cursive; */

.nav-bar-component {
  width: 100%;
  background-color: black;
}

.nav-desktop {
  font-family: "Londrina Solid", cursive;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

/* CSS */
.button-74 {
  font-family: "Londrina Solid", cursive;
  background-color: cyan;
  border: 2px solid magenta;
  border-radius: 30px;
  box-shadow: magenta 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 30px;
  padding: 0 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: yellow;
}

.button-74:active {
  box-shadow: magenta 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
.navlink {
  margin: 5px;
  padding: 5px;
  color: cyan;
  text-decoration: none;
}

.navlink:hover {
  color: magenta;
}

@media only screen and (max-width: 600px) {
  .navlink {
    padding: 5px;
    color: cyan;
    font-size: 24px;
    text-decoration: none;
  }
}
