@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Solid:wght@300&display=swap');
/* font-family: 'Londrina Outline', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Londrina Solid', cursive; */

body {
  background-color: #000000;
  color: #00ffff;
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
}

.headshot{
  border-radius: 50%;
  height: 180px;
  padding: 50px;
}

.home-page-icons{
  margin: 10px;
  color: cyan;
  text-decoration: none;
}

.home-page-icons:hover {
  color: magenta;
}

.lightning {
  height: 70px;
  padding: 2px;
}

.home-page{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center; 
  height: 100vh;
}

.im-lauren{
  font-size: 100px;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.software-enigneer-title {
  font-size: 80px;
  margin-top: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.page-heading {
  font-size: 60px;
  margin-left: 10px;
}


.about-branding-statement{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: left;
  margin: auto;
}

@media only screen and (max-width: 600px) { 

  .im-lauren{
    font-size: 70px;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .software-enigneer-title {
    font-size: 50px;
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
}


